/*Paleta de Cores:

○ Vermelho (#d32f2f) – Representa lutas sociais e direitos civis.
○ Bege (#f5f5dc) – Para criar um fundo suave e amigável.
○ Azul Escuro (#303f9f) – Para títulos e elementos de destaque.
○ Cinza (#616161) – Para textos e bordas sutis.
*/

*{
    padding: 0;
    margin: 0;
    
}

body {
    overflow-x: hidden; 
    overflow-y: auto;
    /* background-color:#f5f5dc !important; */
  }


header{
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #f5f5dc;

}

header img{
    float: left;
    width: 10%;
    margin: 1%;
}

header h1{
    color: #5f5454;
    float: center;
    font-size: 2.5rem;
}

header h5{
    color: #5f5454;
    float: center;
    font-size: 1rem;
}


/* .nav{
    display: flex;
    justify-content: center;
    gap: 20px;
} */


.nav-link{
    font-weight: bold;
    transition: 0.5s;
    border-radius: 10px;
}

.nav-link:hover {
    background-color: #303f9f;
    color: #ffffff !important;
}

.nav_style{
    background-color: #8292fa;
    font-weight: bold;
    
}

.nav_style a{
    color: #ffffff;
}


 
/* 
.card_login{ 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: auto;
}

.card-body_login{ 
    border: #807e7e solid 4px;
    border-radius: 10px;
    padding-inline: 60px;
    padding-block: 30px;
    color: #303f9f;
} */

.card_style{
    background-color: #f5f5dc !important;
    color: #5f5454 !important;
    padding: 15px;
}

.img_style{
    text-align: center;
    display: flex;
    align-items: center;
}

.img-fluid{
    border: 1px;
    border-radius: 5px;
}

footer{

    position: fixed;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    background-color: #f5f5dc;

}

footer p{
    color: #303f9f;
    font-weight: bold;
    margin: 0;
}
/* 
.footer_login{
    position: fixed;
    bottom: 0;
    width: 100%;
} */

