/*Paleta de Cores:

○ Vermelho (#d32f2f) – Representa lutas sociais e direitos civis.
○ Bege (#f5f5dc) – Para criar um fundo suave e amigável.
○ Azul Escuro (#303f9f) – Para títulos e elementos de destaque.
○ Cinza (#616161) – Para textos e bordas sutis.
*/

*{
    background-color: #f5f5dc;
    font-family: Arial, Helvetica, sans-serif;
   
}

header{
    padding: 20px;
    text-align: center;
    background-color: #f5f5dc;
    height: 100px;
    display: flex;
    align-items: center;
   
}

header img{
    float: left;
    height: 50px;
    width: 50px;
    margin: 10px;
}

header h1{
    color: #303f9f;
    float: center;
    font-size: 30px;
}

header h5{
    color: #303f9f;
    float: center;
    font-size: 15px;
}

.navegacao{
    padding: 10px 0;
}

.nav{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-link{
    color: #303f9f !important;
    font-weight: bold;
    transition: color 0.5s;
    border-radius: 10px;
    
}

.nav-link:hover {
    background-color: #d32f2f !important;
}


.card{
    margin: 30px;
    width: 50%;
    border: 5px solid #616161;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body, p{
    background-color: #807e7e;
    color: #f5f5dc;
}



footer p {
    background-color:#f5f5dc;
    color: #303f9f;
    text-align: center;
    padding: 10px;

}

