/*Paleta de Cores:

○ Vermelho (#d32f2f) – Representa lutas sociais e direitos civis.
○ Bege (#f5f5dc) – Para criar um fundo suave e amigável.
○ Azul Escuro (#303f9f) – Para títulos e elementos de destaque.
○ Cinza (#616161) – Para textos e bordas sutis.
*/

*{
    padding: 0;
    margin: 0;
    background-color: #f5f5dc;
}


header{
    padding: 20px;
    text-align: center;
    height: 100px;
    display: flex;
    align-items: center;
    margin-top: 50px;

}

header img{
    float: left;
    height: 100px;
    width: 100px;
    margin: 10px;
}

header h1{
    color: #5f5454;
    float: center;
    font-size: 25px;
}

header h5{
    color: #5f5454;
    float: center;
    font-size: 15px;
}

.navegacao{
    padding: 10px 0;
}

.nav{
    display: flex;
    justify-content: center;
    gap: 20px;
}


.nav-link{
    font-weight: bold;
    transition: 0.5s;
    border-radius: 10px;
}

.nav-link:hover {
    background-color: #303f9f;
    color: #ffffff !important;
}


.card{
    margin: 30px;
    width: 50%;
}

.card :hover{
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.card-body, p{
    /* background-color: #807e7e; */
    color: #5f5454;
}

.card_login{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: auto;
}

.card-body_login{
    border: #807e7e solid 4px;
    border-radius: 10px;
    padding-inline: 60px;
    padding-block: 30px;
    color: #303f9f;
}


footer p {
    width: 100%;
    color: #303f9f;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
}

.footer_login{
    position: fixed;
    bottom: 0;
    width: 100%;
}

